body {
  background-color: rgb(54, 56, 58);
  color: white;
  animation: "";
}
.calcBody {
  border-radius: 5px;
  padding: 30px;
  background-color: black;
  width: 230px;
  justify-content: center;
  margin: auto;
}
.calcButtons {
  width: 180px;
  height: 50px;
}
.calcTable {
  justify-content: center;
  margin: auto;
}
button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 2px;
}
button:hover {
  background-color: chartreuse;
}
.screen {
  background-color: chartreuse;
  color: black;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 220px;
  height: 50px;
  display: inline-flex;
}
.screenText{
    margin: auto;
}
.centered {
  margin: auto;
}
.partyLogo {
  display: inline-flex;
  position: relative;
  z-index: -2;
  transform: rotate(360deg);
  animation: Party-mode infinite 4s linear;
}
.left {
  float: left;
}
.right {
  float: right;
}

@keyframes Party-mode {
  0% {
    transform: rotate(0deg) scale(0.5);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) scale(0.5);
  }
}

@keyframes partyColors {
  0% {
    background: #45c69d;
  }
  25% {
    background: #a362dc;
  }
  50% {
    background: #da4949;
  }
  75% {
    background: #ee962a;
  }
  100% {
    background: #45c69d;
  }
}
